* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  --gray: #657A9D;
  --dark-purple: #072659; 
}

a {
  text-decoration: none;
  color: var(--dark-purple);
}